*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Red Hat Display';
    font-style: normal;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
}

.section1{
    display:flex ;
    justify-content: space-between;
}
.header{
    display: flex;
    padding-top: 65px;
}

.links{
    margin-left: 100px;
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    width: 338px;
}
.links > a{
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: darkgrey;
}
.links .active{
    color: #25202F;
}

.aboutus{
    margin-top: 125px;
}
.aboutus > .hello{
    color: #666666;
    font-size: 24px;
}

.aboutus > h1 {
   font-size: 58px;
}
.aboutus > p{
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #25202F;
}

.btn{
    margin-top: 50px;
    width: 200px;
    height: 60px;
    background: #8643DC; ;
    border-radius: 100px;
    border: none;
}
.btn > a {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;  
    text-align: center;
    color: #FFFFFF;
}
.rightside{
    display: flex;
    margin-top: 4px;
}
.menu{
    padding-top: 35px;
}





.sectrion2 {
    margin-top: 100px;
}
.services-text > p {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #8643DC;
}

.services-text > h2 {
    margin-top: 15px;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: #25202F;
}
.line{
    margin-top: 10px;
    border: 1px solid  #8643DC ;
    width: 50px;
    height: 2px;
    left: 165px;
    top: 802px;
    background: #8643DC;
}
.services-content{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.content-img {
    display: flex;
    align-items: center;
}
.content-img > h2 {
    margin-left: 20px;
}

.content1 > p{
    margin-top: 20PX;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #47444E;
}
